[Unit]                                                                                                                                                                                                             
Description=Update system flatpaks

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak --system update --assumeyes --noninteractive
ExecStart=/usr/bin/flatpak --system uninstall --unused --assumeyes --noninteractive
ExecStart=/usr/bin/flatpak --system repair
TimeoutStopSec=180
# configures the time to wait for the service itself to stop. If it does not terminate in the specified time, it will be forcibly terminated by SIGKILL
StandardOutput=journal+console
StandardError=journal+console
SyslogLevel=info
RemainAfterExit=false
