# must be installed in /etc/systemd/user
# not implemented

[Unit]                                                                                                                                                                                                             
Description=update user flatpaks
DefaultDependencies=no
After=network-online.target
Before=shutdown.target
Before=halt.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak --user update -y
KillMode=process
TimeoutStopSec=900


[Install]
WantedBy=shutdown.target
WantedBy=halt.target